html{
  box-sizing: border-box;
}
body{
  background-color: rgba(149, 149, 243, 0.585);
}
.todo-header{
  display: flex;
  flex-direction: column;
  width:70%;
  min-width: 100px;
  max-width: 850px;
  align-items: center;
  margin: 24px auto;
  padding:12px;
  background-color:rgba(105, 90, 205, 0.776);
  border-radius: 8px;
}